.header {
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__text {
    // width: 470px;
}
.header__title {
    font-size: 54px;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 1.46;
    position: relative;
    z-index: 9;


}
.header__text p {
    line-height: 1.6875;
    margin-bottom: 1em;
    width: 450px;
    font-size: 17px;
}
.header__img img {
    border-radius: 40px 40px 40px 0;
}

.header__form {
    margin-top: 42px;
}